In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Arraial Do Cabo,-22.9661,-42.0278,74.19,96,100,11.61,BR,2022-01-30 01:48:10
1,1,Cockburn Town,21.4612,-71.1419,76.96,73,40,11.50,TC,2022-01-30 01:45:24
2,2,Aksu,41.1231,80.2644,23.88,51,87,5.03,CN,2022-01-30 01:48:17
3,3,East London,-33.0153,27.9116,68.97,85,9,5.82,ZA,2022-01-30 01:48:18
4,4,Novokizhinginsk,51.6115,109.5917,-8.55,96,97,2.44,RU,2022-01-30 01:48:19

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Arraial Do Cabo,-22.9661,-42.0278,74.19,96,100,11.61,BR,2022-01-30 01:48:10
1,1,Cockburn Town,21.4612,-71.1419,76.96,73,40,11.50,TC,2022-01-30 01:45:24
2,2,Aksu,41.1231,80.2644,23.88,51,87,5.03,CN,2022-01-30 01:48:17
3,3,East London,-33.0153,27.9116,68.97,85,9,5.82,ZA,2022-01-30 01:48:18
4,4,Novokizhinginsk,51.6115,109.5917,-8.55,96,97,2.44,RU,2022-01-30 01:48:19